<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nageoffer.shortlink.project.dao.mapper.ShortLinkMapper">

    <select id="listGroupShortLinkCount" resultType="com.nageoffer.shortlink.project.dto.Resp.ShortLinkGroupCountQueryRespDTO">
        select gid,count(*) as shortLinkCount from t_link where gid in
        <foreach collection="gids" item="gid" open="(" close=")" separator=",">
                #{gid}
        </foreach>
        and enable_status=0
        group by gid
    </select>
    <select id="recycleBinPageReqDTO" resultType="com.nageoffer.shortlink.project.dto.Resp.RecycleBinPageRespDTO">
        select from t_link where gid in
        <foreach collection="list" item="gid" open="(" close=")" separator=",">
              #{gid}
        </foreach>
        and enable_status=0
        group
    </select>

</mapper>